
{% extends 'base.html' %}

{%block content%}
    <!-- Hero Section -->
    <section class="hero">
      <h2>{{employee.jobprofile.jobprofile}}</h2>
        <h1>{{employee.full_name()}}</h1>
      <p>{{employee.jobprofile.business_function}},
        {{employee.jobprofile.subfamily}}. Grade: {{employee.jobprofile.grade}}
      </p>
      <h2>Your Career Journey Starts Here</h2>
      <h2>Explore the different ways you can grow with us</h2>
      <a href="#career-pathways">Explore Career Paths</a>
    </section>

    <!-- Career Pathways Section -->
    <section class="career-pathways" id="career-pathways">
      <h2>Career Paths</h2>
      <p>
        SimCorp's ambition is to establish a career system framework that
        fosters growth and career opportunities through transparency. At
        SimCorp, your career path can be vertical, lateral, or even involve
        moving between different job families. <br /><br />This page is designed
        to showcase some of the potential growth paths available at SimCorp.
        Tailored to your current role and situation within the company, it
        provides information on various career pathways you can pursue whether
        you're aiming to advance, switch tracks, or transition to a different
        job family.
      </p>
    </section>

    <!-- Progression Section -->
    <div class="progression-section container mt-5" id="progression-section">
      <!-- Checkbox Section -->
      <div class="checkbox-container text-center mb-6">
        <div class="checkbox-wrapper-2">
          <input
            type="checkbox"
            class="sc-gJwTLC ikxBAC"
            id="currentSubfamilyCheckbox"
            checked="true"/>
          <label class="form-check-label" for="currentSubfamilyCheckbox"
            >{{employee.jobprofile.business_function}}</label
          >
        </div>
        <div class="checkbox-wrapper-2">
          <input
            type="checkbox"
            class="sc-gJwTLC ikxBAC"
            id="familyGroupCheckbox"
            />
          <label class="form-check-label" for="familyGroupCheckbox"
            >Entire {{employee.jobprofile.subfamily}}</label
          >
        </div>

        <div class="checkbox-wrapper-2">
          <input 
          type="checkbox" 
          class="sc-gJwTLC ikxBAC" 
          id="newtrack" 
          disabled
          />
          <label class="form-check-label" for="familyGroupCheckbox"
            >All tracks (IC/M)</label
          >
        </div>
      </div>
      <div id="currentbusinessfunction">
        <div class="masonry">
            <section class="testimonials">
                <h2>
                    
                </h2>
                <div class="testimonial">
                    <h2>Opportunities in {{employee.jobprofile.business_function}}</h2>
                    <p>at or one grade above your current grade</p>
                </div>
               
            </section>
            
          {% for jobprofile in
          employee.jobprofile.jobprofiles_in_business_function %} {% for title,
          details in jobprofile.items() %}
          <div class="card card-custom bg-white border-white border-0">
            <div
              class="card-custom-img"
              style="
                background-image: url('http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg');
              "
            >
        </div>
            <div class="card-custom-avatar">
              <img
                class="img-fluid"
                src="../static/img/SimCorp_Symbol_Black.png"
                alt="Avatar"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">{{ title }}</h4>
              <p class="card-text"><strong>Track:</strong> {{ details[0] }}</p>
              <p class="card-text"><strong>Grade:</strong> {{ details[1] }}</p>
              <p class="card-text">
                <strong>Skills:</strong> {{ skills_output(details[2])|join(', ') }}
                <!--{{ details[2]|join(', ') }} -->
              </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="This will open jobprofile in Workday.">
                    Explore
                  </button>

              {% if details[3] %}
              <button type="button" class="btn btn-info" data-toggle="popover" title="Job ad" data-content="This will open Workday/Job board jobad/">Open Position!</button>
                
              </button>
                
              {% endif %}
            </div>
          </div>
          {% endfor %} {% endfor %}
        </div>
      </div>

        <div id="entiresubfamily">
            <div class="masonry">
                <section class="testimonials">
                    <h2>
                        
                    </h2>
                    <div class="testimonial">
                        <h2>Opportunities in {{employee.jobprofile.subfamily}}</h2>
                        <p>at or one grade above your current grade</p>
                    </div>
                   
                </section>
                
                {% for jobprofile in employee.jobprofile.jobprofiles_in_subfamily %}
                    
                        <div class="card card-custom bg-white border-white border-0">
                            <div
                                class="card-custom-img"
                                style="
                                    background-image: url('http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg');
                                "
                            >
                            <div class="card-title-custom">{{ jobprofile["business_function"] }}</div>
                        </div>
                            <div class="card-custom-avatar">
                                <img
                                    class="img-fluid"
                                    src="../static/img/SimCorp_Symbol_Black.png"
                                    alt="Avatar"
                                />
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ jobprofile["profile_name"] }}</h4>
                                <p class="card-text"><strong>Track:</strong> {{ jobprofile["track"] }}</p>
                                <p class="card-text"><strong>Grade:</strong> {{ jobprofile["grade"] }}</p>
                                <p class="card-text">
                                    <strong>Skills:</strong> {{ skills_output(jobprofile["skills"])|join(', ') }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="This will open jobprofile in Workday.">
                                    Explore
                                  </button>
                                {% if jobprofile["recruiting_status"] %}
                                <button type="button" class="btn btn-info" data-toggle="popover" title="Job ad" data-content="This will open Workday/Job board jobad/">Open Position!</button>
                
              </button>
                                {% endif %}
                            </div>
                        </div>
                   
                {% endfor %}
            </div>
        </div>
    </div>



    <section class="carousel-section">
        <div class="carousel-header mt-3">
            <h2 class="carousel-title">Grades descriptions</h2>
            <p class="carousel-description">Scroll through the grades, to understand their defintions and expectations</p>
        </div>
    
        <div id="gradeCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for grade, details in grades %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Grade {{ grade }}</h5>
                            <p class="card-text"><strong>Impact:</strong> {{ details['Impact'] }}</p>
                            <p class="card-text"><strong>Contribution:</strong> {{ details['Contribution'] }}</p>
                            <p class="card-text"><strong>Communication:</strong> {{ details['Communication'] }}</p>
                            <p class="card-text"><strong>Innovation:</strong> {{ details['Innovation'] }}</p>
                            <p class="card-text"><strong>Knowledge / Experience:</strong> {{ details['Knowledge / Experience'] }}</p>
                            <p class="card-text"><strong>Analogy:</strong> {{ details['Analogy'] }}</p>
                            <p class="card-text"><strong>Titles:</strong> {{ details['Titles']|join(', ') }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#gradeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#gradeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>


    <!-- Application Process Section -->
    <section class="application-process">
        <h2>Other resources</h2>
        <div class="training-item">REAL</div>
        <div class="training-item">SimLink</div>
        <div class="training-item">WokrDay</div>
    </section>

    <!-- Footer Section -->
    <section class="footer">
      <p>&copy; 2024 SimCorp. All rights reserved.</p>
    </section>

    <script>
        // JavaScript to add fade-in effect on scroll
        const sections = document.querySelectorAll("section");
        const options = {
          threshold: 0.3,
        };
      
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("fade-in");
              observer.unobserve(entry.target);
            }
          });
        }, options);
      
        sections.forEach((section) => {
          observer.observe(section);
        });
      
        // Display content based on sliders
        document.addEventListener('DOMContentLoaded', function () {
            const currentSubfamilyCheckbox = document.getElementById("currentSubfamilyCheckbox");
            const currentBusinessFunctionContent = document.getElementById("currentbusinessfunction");

            // Set initial display based on checkbox state
            if (currentSubfamilyCheckbox.checked) {
                currentBusinessFunctionContent.style.display = "block";
            } else {
                currentBusinessFunctionContent.style.display = "none";
            }

            // Add event listener for checkbox state change
            currentSubfamilyCheckbox.addEventListener("change", function () {
                if (this.checked) {
                    currentBusinessFunctionContent.style.display = "block";
                } else {
                    currentBusinessFunctionContent.style.display = "none";
                }
            });
        });

          //subfamily checkbox
          document.addEventListener('DOMContentLoaded', function () {
            const checkbox = document.getElementById("familyGroupCheckbox");
            const content = document.getElementById("entiresubfamily");

            // Set initial display based on checkbox state
            if (checkbox.checked) {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }

            // Add event listener for checkbox state change
            checkbox.addEventListener("change", function () {
                if (this.checked) {
                    content.style.display = "block";
                } else {
                    content.style.display = "none";
                }
            });
        });
 
      
        document
          .getElementById("newtrack")
          .addEventListener("change", function () {
            const content = document.getElementById("alltracks");
            if (this.checked) {
              content.style.display = "block";
            } else {
              content.style.display = "none";
            }
          });

          //popover
          $(function () {
            $('[data-toggle="popover"]').popover()
            })
      </script>
      


  </body>
{%endblock%}
